.dashboard{
    width: 100%;
    height: 127rem;
    background: var(--bg-light);
}
.dashboard-content{
    display: grid;
    grid-template-columns: 6.25% 73.12% 20.62%;
}

.dashboard-content aside:first-child{
    border-right: 2px solid #EDEFF2;
    height:117rem;
    position: relative;
}

.dashboard-content aside:last-child{
    border-left: 2px solid #EDEFF2;
    height:100vh;
}

.dot{
    width: 0.8rem;
    height: 0.8rem;
    box-shadow: 0 2px 10px 0 #26334D08;
    background: #E62E7B;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 10%;
}

.circle {
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    border: none;
    background: white;
    color: var(--color-gray-blue);
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 #26334D08;
}

