.dashRightSideBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 0;
    height: 100%;
}

.dashboard-right-up {
    display: block;
    margin-bottom: auto;
}
.dashboard-right-down{
    width: 100%;
    padding: 2rem;
}

.dashboard-right-down-card {
    padding: 2rem;
    border: 2px solid #EDEFF2;
    border-radius: 1rem;
}

.dashboard-right-down-card .dashboard-right-down-upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-right-down-card .dashboard-right-down-upper div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #4D5E80;
    font-size: 1.1rem;
    font-weight: 600;
}

.dashboard-right-down-bottom{
    width: 100%;
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
}

.dashboard-right-down-bottom div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-right-down-bottom div button{
   padding: 0.5rem 1.5rem;
    background: transparent;
    border: 2px solid #EDEFF2;
    border-radius: 25px;
    color: #7D8FB3;
    font-size: 0.9rem;
    font-weight: 700;
}

.dashboard-right-down-bottom div p{
    display:grid;
    gap: 0.5rem;
    color: #6B7A99;
    font-size: 1rem;
    justify-content: center;
}