.dash-content-header {
    height: 6.87rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 2px solid #F2F3F5
}

.dash-content-header .header-logo {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.header-logo .header-logo-img {
    width: 3rem;
    height: 3rem;
    background: #FFFFFF;
    box-shadow: 0 2px 5px 0 #26334D08;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-img img {
    width: 70%;
    height: auto;
    aspect-ratio: 22/19;
}

.header-logo h1 {
    font-size: 1.25rem;
    color: #6B7A99;
}

.dash-content-header .header-items {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    color: var(--color-gray-blue);
    font-size: 1.1rem;
}

.dash-content-header .header-items span {
    height: 6.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-content-header .header-items .active {
    color: #8833FF;
    border-bottom: 2px solid #8833FF;
}

.dash-content-header .header-btns p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3.3rem;
    background: #8833FF;
    border-radius: 25px;
    border: 2px solid #8833FF;
    box-shadow: 0 10px 30px 0 #8833FF26;
    font-size: 1.1rem;
    color: white;
    gap: 0.3rem;
}

.dash-content-header .header-btns p span {
    color: #FFFFFF80;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* -------------------------  header 2 ---------------------------*/

.dash-content-header2 {
    width: 100%;
    height: 5.87rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 2px solid #F2F3F5
}

.dash-content-header2 .header2-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header2-logo button {
    background: white;
    width: 3rem;
    height: 3rem;
    color: #C3CAD9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 2rem;
}

.header2-logo p {
    font-size: 1.1rem;
    font-weight: 800;
    color: #7D8FB3;

}

.dash-content-header2 .header-2-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-content-header2 .header-2-btns button {
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    border: 2px solid;
    border-color: #F5F6F7 transparent #F5F6F7 #F5F6F7;
    color: #C3CAD9;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-2-btns button:last-child {
    border-color: #F5F6F7;
}

.dash-content-header2 .header-2-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-2-items div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3.5rem;
    background: white;
    border: 2px solid;
    gap: .5rem;
    border-color: #F5F6F7 transparent #F5F6F7 #F5F6F7;
    font-size: 2rem;
    color: #C3CAD9;
}
.header-2-items div:last-child{

    border-color: #F5F6F7;
}

.header-2-items div span{
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-2-items div button {
    border: none;
    background: transparent;
    color: #6B7A99;
    font-size: 1.1rem;
    font-weight: 700;
}