@import url('https://fonts.cdnfonts.com/css/gilroy');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root {
    --bg-gradient: linear-gradient(104.58deg, #FFDCF3 2.1%, #D7FFFF 100.64%);
    --color-blue: #677DA8;
    --color-dark: #4D4D4D;
    --bg-light: #F7F8FA;
    --color-gray-blue: #C3CAD9;

}

html {
    font-size: 62.5%;
    user-select: none;
    font-family: 'Gilroy', sans-serif;
}










