.glassmorphism-hero {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 52%;
    align-items: center;
    justify-content: center;
    padding-top: 3.8rem;
    position: relative;
    gap: 3.5rem;
}

.hero-left {
    position: relative;
}

.hero-left h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-blue);
}


.hero-left h1 span {
    text-decoration: underline;
    text-decoration-thickness: 0.22rem;
}

.hero-left p {
    font-size: 1.3rem;
    margin-top: 5%;
    color: #8491b4;
    line-height: 3rem;
}

.hero-left button {
    margin-top: 7%;
    background: white;
    border: none;
    padding: 1.5rem 4rem;
    font-size: 1.8rem;
    color: var(--color-blue);
    border-radius: 0.7rem;
    cursor: pointer;
    box-shadow: 0.85rem 1rem 1.8rem 0 #33636C14;
}
/*------------------------rating picture ----------------------->*/
.rating-hero{
    width: 25%;
    height: auto;
    aspect-ratio: 156/56;
    position: absolute;
    bottom: -25.5%;
    right: 5.5%;
    object-fit: contain;
}
/*  ------------------------ arrow image place --------------------->*/
.arrow{
    width: 45%;
    height: auto;
    position: absolute;
    bottom: -36%;
    left: 27.5%;
    aspect-ratio: 257/167;
    object-fit: contain;
}


/* ------------------------------------ hero right part styling -------------------------->*/

.hero-right {
    position: relative;
}

.hero-right img:first-child {
    width: 100%;
    height: auto;
    aspect-ratio: 613/613;
    z-index: 2;
}
/*---------------- first ellipse image ------------->*/

.hero-right img:nth-child(2) {
    width: auto;
    height: 100%;
    position: absolute;
    top: 1.5%;
    left: 47.5%;
    transform: translateX(-47.5%);
    aspect-ratio: 255/609;
    z-index: 1;
    object-fit: contain;
}
/* ------------------ second Ellipse --------------->*/
.hero-right img:nth-child(3) {
    position: absolute;
    width: 102.5%;
    height: auto;
    aspect-ratio: 645/146;
    left: 0;
    top: 52%;
    transform: translateY(-52%);
    z-index: 1;
}
/*-------------------------- Star design place ---------------->*/
.hero-right .box {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 58%;
    left: 65%;
    font-size: 2rem;
    color: white;
    z-index: 1;
    background: linear-gradient(180deg, #E142AA 0%, #73FFFF 100%),
    radial-gradient(51.56% 51.56% at 40.62% 29.69%, rgba(255, 255, 255, 0.19) 4.81%, rgba(255, 255, 255, 0) 100%);

}

/*------------------------------shadow ---------------------------------------->*/

.shadow {
    width: 79%;
    height: 22%;
    opacity: 0.1;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    left: 5%;
    top: 104%;
    transform: translateY(-104%);
}

/*----------------------------discount div ------------------------>*/

.discount-parent{
    width: 34.5%;
    height: 14.6%;
    border-radius: 0.7rem;
    background: linear-gradient(144.76deg, rgba(166, 20, 115, 0.33) -0.67%, #FFFFFF 43.53%, rgba(5, 242, 242, 0.37) 88.65%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    bottom: -9%;
}

.discount-parent .discount{
    width: 99.5%;
    height: 99%;
    background: #f0f8f9;
    border-radius: 0.7rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.discount h6{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-blue);
}
.discount p{
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: #677DA8;
}
/* ------------------------discount---------->*/

/*------------------------- Responsive ---------------------->*/


@media (500px<width<=1024px) {
    .glassmorphism-hero{
        grid-template-columns: 40% 60%;
    }
    .hero-left h1{
        font-size: 3rem;
    }
    .hero-left p{
        line-height: normal;
    }
    .discount h6{
        font-size: 0.8rem;
    }
    .discount p{
        font-size: 0.5rem;
        line-height: normal;
    }
}

@media (width <= 500px) {
    .glassmorphism-hero{
        grid-template-columns: 100%;
    }
    .hero-left h1{
        font-size: 2.8rem;
    }
    .discount h6{
        font-size: .8rem;
    }
    .discount p{
        font-size: 0.5rem;
        line-height: normal;
    }
}





