.glassmorphism {
    background: var(--bg-gradient);
    width: 100%;
    height: auto;
}

.home-center {
    margin-left: 11.16%;
    margin-right: 11.5%;
}
.empty-box{
    width: 100%;
    height: 4rem;
}