
.header{
    width: 100%;
    height: 5.79rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15% 0 11%;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .navbar-logo a{
    display: flex;
    align-items: center;
    gap: 1.45rem;
}
.header .navbar-logo a h1{
    color: var(--color-blue);
    font-size: 2.3rem;
}

.header .navbar .navbar-list{
    display: flex;
    align-items: center;
    gap: 2.77rem;
}

.header .navbar .navbar-list a{
    font-size: 1.5rem;
    color: var(--color-dark);
}

.header .navbar-icons{
    display: flex;
    align-items: center;
    gap: 2.77rem;
    font-size: 1.7rem;
}

.header .navbar-icons span{
    color: var(--color-dark) !important;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar-icons .cart-icon{
    gap: 0.2rem;
}

.header .cart-icon button{
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-blue);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 0.8rem;
}

.header .navbar-icons .bar{
    display: none;
}

.navbar-icons .profile img{
    aspect-ratio: 47/47;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (width<=800px) {
    .empty-box{
        height: 0;
    }
    .header{
        padding: 2% 8% 2% 4%;
    }
    .header .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: var(--bg-gradient);
        z-index: 9;
        left: 0;
        top: 5.79rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s linear;
    }

    .header .navbar .navbar-list{
        flex-direction: column;
        font-size: 2rem;
    }

    .header .navbar-icons .bar{
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color:var(--color-blue)!important;
        border-radius: 50%;
        background: var(--bg-gradient);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    }

    .show .navbar{
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }
    .navbar-icons .profile img{
        width: 70%;
        height: auto;
    }

}

@media (width<500px) {
    .navbar-center{
        margin: 0 5%;
    }
    .header .navbar-logo a{
        gap: .5rem;
    }
    .header .navbar-logo a h1{
        font-size: 2rem;
    }
    .header .navbar-logo a img{
        width: 20%;
        height: auto;
        aspect-ratio: 34/57;
        object-fit: contain;
    }
    .header .navbar-icons{
        gap: 0.5rem;
    }

}