
.header{
    width: 100%;
    height: 5.79rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7%;
}
.header .navbar-logo a{
    display: flex;
    align-items: center;
    gap: 1.45rem;
}
.header .navbar-logo a h1{
    color: var(--color-blue);
    font-size: 2.3rem;
}

.header .navbar .navbar-list{
    display: flex;
    align-items: center;
    gap: 2.77rem;
}

.header .navbar .navbar-list a{
    font-size: 1.5rem;
    color: var(--color-dark);
}

.header .navbar-icons{
    display: flex;
    align-items: center;
    gap: 2.77rem;
    font-size: 1.7rem;
}

.header .navbar-icons span{
    color: var(--color-dark) !important;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar-icons .cart-icon{
    gap: 0.2rem;
}

.header .cart-icon button{
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-blue);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 0.8rem;
}

.header .navbar-icons .bar{
    display: none;
}

@media (width<=800px) {
    .header .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--bg-gradient);
        z-index: 3;
        left: 0;
        top: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s linear;
    }

    .header .navbar .navbar-list{
        flex-direction: column;
        font-size: 2rem;
    }

    .header .navbar-icons .bar{
        display: block;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color:var(--color-blue)!important;
        border-radius: 50%;
        background: var(--bg-gradient);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    }

    .show .navbar{
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }

}

@media (width<500px) {
    .navbar-center{
        margin: 0 5%;
    }
    .header .navbar-logo a{
        gap: .5rem;
    }
    .header .navbar-logo a h1{
        font-size: 2rem;
    }
    .header .navbar-logo a img{
        width: 20%;
        height: auto;
        aspect-ratio: 34/57;
        object-fit: contain;
    }
    .header .navbar-icons{
        gap: 1rem;
    }

}